@{
    ViewBag.Title = "Acerca de";
    ViewBag.Message = "Sistema Integral para la Gestión de Expedientes y Agendado de Citas en Veterinarias";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p><strong>Primer Avance del Proyecto</strong></p>

    <p><strong>Grupo 4:</strong></p>
    <ul>
        <li>Kevin Bernardo Rojas Hernández</li>
        <li>Moisés Alexander Arias Ureña</li>
        <li>Reychell Vega Pérez</li>
        <li>Robin Ruiz Solano</li>
        <li>Ronny Alexander Ruiz Díaz</li>
        <li>Saul Antonio Velasquez Montenegro</li>
    </ul>

    <p><strong>Prof. Maureen Yesenia Moraga Piña</strong></p>

    <p><strong>II cuatrimestre 2024</strong></p>
</main>
