@{
    ViewBag.Title = "Contacto";
}
<main>
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        Costa Rica<br />
        San José, 10101<br />
    </address>

    <address>
        <strong>Kevin Rojas:</strong> <a href="mailto:Kevinrh2000@gmail.com">Kevinrh2000@gmail.com</a><br />
        <strong>Alexander Ruiz:</strong> <a href="mailto:roniruiz08@gmail.com">roniruiz08@gmail.com</a><br />
        <strong>Saul Montenegro:</strong> <a href="mailto:saulmontenegro34@gmail.com">saulmontenegro34@gmail.com</a><br />
        <strong>Robin Ruiz:</strong> <a href="mailto:rruizs205@gmail.com">rruizs205@gmail.com</a><br />
        <strong>Reychell Pérez:</strong> <a href="mailto:reychellperez@hotmail.com">reychellperez@hotmail.com</a><br />
        <strong>Moisés Arias:</strong> <a href="mailto:moises.arias0811@gmail.com">moises.arias0811@gmail.com</a>
    </address>
</main>
