@{
    ViewBag.Title = "Página Principal";
}

<main>
    <section class="row" aria-labelledby="veterinaryTitle">
        <h1 id="title">Veterinaria</h1>
        <p class="lead">Bienvenido a nuestra veterinaria, donde el cuidado de tu mascota es nuestra prioridad. Ofrecemos una amplia gama de servicios para mantener a tu mascota saludable y feliz.</p>
        <a>@Html.ActionLink("Conoce nuestros servicios", "Index", "Citas", new { area = "" }, new { @class = "btn btn-primary" })</a>
        <p>
        </p>        <a>@Html.ActionLink("Gestion Clientes", "Index", "Clientes", new { area = "" }, new { @class = "btn btn-primary" })</a>
        <p>
        </p>        <a>@Html.ActionLink("Gestion Pets", "Index", "Animals", new { area = "" }, new { @class = "btn btn-primary" })</a>

    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="consultationTitle">
            <h2 id="consultationTitle">Consultas y Diagnósticos</h2>
            <p>
                Contamos con veterinarios altamente calificados para realizar consultas y diagnósticos precisos, asegurando el bienestar de tu mascota.
            </p>
          
        </section>
        <section class="col-md-4" aria-labelledby="petCareTitle">
            <h2 id="petCareTitle">Cuidado y Aseo</h2>
            <p>Proporcionamos servicios de aseo y cuidado para mantener a tu mascota en las mejores condiciones.</p>
        </section>
    </div>
</main>
