@{
    ViewBag.Title = "Página Principal";
}

<main>
    <section class="row" aria-labelledby="veterinaryTitle">
        <h1 id="title">Veterinaria</h1>
        <p class="lead">Bienvenido a nuestra veterinaria, donde el cuidado de tu mascota es nuestra prioridad. Ofrecemos una amplia gama de servicios para mantener a tu mascota saludable y feliz.</p>
        <p><a href="/Servicios" class="btn btn-primary btn-md">Conoce nuestros servicios &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="consultationTitle">
            <h2 id="consultationTitle">Consultas y Diagnósticos</h2>
            <p>
                Contamos con veterinarios altamente calificados para realizar consultas y diagnósticos precisos, asegurando el bienestar de tu mascota.
            </p>
            <p><a class="btn btn-outline-dark" href="/Consultas">Más información &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="surgeryTitle">
            <h2 id="surgeryTitle">Cirugías</h2>
            <p>Ofrecemos una variedad de procedimientos quirúrgicos con tecnología avanzada y cuidados postoperatorios.</p>
            <p><a class="btn btn-outline-dark" href="/Cirugias">Más información &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="petCareTitle">
            <h2 id="petCareTitle">Cuidado y Aseo</h2>
            <p>Proporcionamos servicios de aseo y cuidado para mantener a tu mascota en las mejores condiciones.</p>
            <p><a class="btn btn-outline-dark" href="/Cuidado">Más información &raquo;</a></p>
        </section>
    </div>
</main>
