
@model SistemaVeterinaria.Models.ICita

<!DOCTYPE html>
<html>
<head>
    <title>Programar Cita</title>
</head>
<body>
    <h2>@Model.Descripcion</h2>
    <p>La cita ha sido programada exitosamente.</p>
</body>
</html>
