@model IEnumerable<SistemaVeterinaria.Models.ICita>

@{
    ViewBag.Title = "Index";
}

<h2>Citas</h2>


@{
    var tiposDeCita = new List<(string tipo, string texto)>
{
        ("Consulta", "Agendar Cita para Valoración"),
        ("Vacunacion", "Agendar Cita para Vacunación")
    };
}

<!-- Botones para agendar citas según el tipo -->
@foreach (var tipoCita in tiposDeCita)
{
    <a href="@Url.Action("ProgramarCita", "Citas", new { tipoCita = tipoCita.tipo })" class="btn btn-primary">
        @tipoCita.texto
    </a>
}

@{
    var citas = Model.ToList();
    bool hayMasDeUnaCita = citas.Count > 1;
}

<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Detalles</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @if (hayMasDeUnaCita)
        {

            foreach (var cita in Model)
            {
                <tr>
                    <td>@cita.Descripcion</td>
                    <td>@cita.Fecha.ToShortDateString()</td>
                </tr>
            }
        }

    </tbody>
</table>
